.about{
    color: #AC3B61;
    margin-top: 10%;
    margin-left: 10%; 
    width: 60%;


    h1{
        font-size: 40px;
    }

    h4{
        font-size: 20px;
        font-family: 'La Belle Aurore';
        
    }
    

    
}