.parent-div {
    top: 40%;
    // background-color: black;
    left: 40%;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
    font-family: 'La Belle Aurore';
    color: #AA3860;
    font-size: 20px;
}

.parent-div h2{
    color: #D57C99;
}